---
import { TooltipProvider } from "@components/core/tooltip";
import AstroNavbar from "./AstroNavbar.astro";
import { cn } from "@lib/utils";
import AstroSidebar from "./AstroSidebar.astro";

type Props = {
  currentPath: string;
  className?: string;
};

const { currentPath, className } = Astro.props;
---

<TooltipProvider client:load>
  <AstroNavbar currentPath={currentPath} className="lg:hidden" />
  <div
    class={cn(
      "flex w-full pt-12 lg:w-3/4 xl:w-2/3 lg:pt-0 justify-self-center",
      className,
    )}
  >
    <AstroSidebar currentPath={currentPath} className="hidden lg:block" />
    <main class="min-w-0 flex-1 px-4 py-8 lg:px-8">
      <slot />
    </main>
  </div>
</TooltipProvider>
