---
import { NAV_ITEMS } from "@constants/navigation";
import { getActiveSegment } from "@lib/url";
import { cn } from "@lib/utils";

type Props = {
  currentPath: string;
  className?: string;
};

const { currentPath, className } = Astro.props;

const activeSegment = getActiveSegment(currentPath);
---

<nav
  class={cn(
    "fixed flex w-full items-center justify-between gap-4 border-b",
    className,
  )}
>
  <a href="/" class="font-bold">Luna G. Cezar</a>
  <div class="flex gap-4">
    {
      NAV_ITEMS.map((item) => {
        const isActive = item.href.replace("/", "") === activeSegment;
        const Icon = item.icon;
        return (
          <a
            href={item.href}
            class={cn(isActive && "font-bold", "flex items-center gap-2")}
          >
            {Icon && <Icon weight="duotone" />}
            {item.label}
          </a>
        );
      })
    }
  </div>
</nav>
