---
import AstroNavbar from "./AstroNavbar.astro";
import { cn } from "@lib/utils";
import AstroSidebar from "./AstroSidebar.astro";

type Props = {
  currentPath: string;
  className?: string;
};

const { currentPath, className } = Astro.props;
---

<AstroNavbar currentPath={currentPath} />
<div class={cn("flex w-full lg:w-3/4 xl:w-2/3 justify-self-center", className)}>
  <AstroSidebar currentPath={currentPath} className="hidden lg:block" />
  <main class="min-w-0 flex-1 px-6 pt-16 pb-8 lg:border-r lg:px-8">
    <slot />
  </main>
</div>
