---
import { cn } from "@lib/utils";
import { buildFullSidebarTree } from "@lib/collections";
import { createSidebarHelpers } from "@lib/sidebar";
import AstroSidebarBranch from "./AstroSidebarBranch.astro";

type Props = {
  currentPath: string;
  className?: string;
};

const { currentPath, className } = Astro.props;

const { tree, collectionNames } = await buildFullSidebarTree();
const { getNodeLabels, nodeIsActive, nodeHasActiveDescendant } =
  createSidebarHelpers(currentPath, collectionNames);
---

<nav
  class={cn(
    "sticky top-0 h-screen w-48 shrink-0 overflow-y-auto border-r pt-16 pb-8 lg:border-l border-border",
    className,
  )}
>
  <ul class="space-y-0.5 px-2">
    {
      tree.map((node) => (
        <AstroSidebarBranch
          node={node}
          getLabels={getNodeLabels}
          isActive={nodeIsActive}
          hasActiveDescendant={nodeHasActiveDescendant}
        />
      ))
    }
  </ul>
</nav>
