---
import MainLayout from '@layouts/MainLayout.astro';
import AstroEntryContent from '@components/core/_astro/AstroEntryContent.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const entries = await getCollection('blog');
  return entries.map((entry) => ({
    params: { id: entry.id },
    props: entry,
  }));
}

const entry = Astro.props;
---

<MainLayout>
  <article>
    <h1>{entry.data.title}</h1>
    <time>{entry.data.date.toLocaleDateString('pt-BR')}</time>
    <AstroEntryContent entry={entry} />
  </article>
</MainLayout>
