---
export const title = 'Blog';
import MainLayout from '../../layouts/MainLayout.astro';
import { getSortedCollection } from '../../lib/collections';

const entries = await getSortedCollection('blog')

---

<MainLayout>
  <h1>Blog</h1>
  <ul>
    {entries.map((entry) => (
      <li>
        <a href={`/blog/${entry.id}/`}>
          {entry.data.title}
        </a>
      </li>
    ))}
  </ul>
</MainLayout>
