---
import { getChildUrl } from "@lib/url";
import { Badge } from "../badge";
import { formatSegment } from "@lib/collections";

type Props = {
  childFolders: string[];
  baseUrl: string;
};

const { childFolders, baseUrl } = Astro.props;

const childUrl = (child: string) => getChildUrl(baseUrl, child);
---

{
  childFolders.length > 0 && (
    <nav aria-label="Sub-folders" class="flex flex-wrap gap-2">
      {childFolders.map((child) => (
        <a href={childUrl(child)}>
          <Badge variant="secondary">{formatSegment(child)}</Badge>
        </a>
      ))}
    </nav>
  )
}
