---
export const title = 'Arte';
import MainLayout from '../../layouts/MainLayout.astro';
import { getSortedCollection } from '../../lib/collections';

const entries = await getSortedCollection('art')
---

<MainLayout>
  <h1>Arte</h1>
  <ul>
    {entries.map((entry) => (
      <li>
        <a href={`/art/${entry.id}/`}>
          {entry.data.title}
        </a>
      </li>
    ))}
  </ul>
</MainLayout>
